<section class="Discount products">
    <h2>Discount products</h2>
    <div class="products-discount">
        <!-- <div class="cart-product-discount">
            <div class="card-product-wrapper">
                <img class="cart-product-img"
                    src="https://media.istockphoto.com/id/1677700193/photo/pouring-champagne-on-new-years-party.jpg?s=1024x1024&w=is&k=20&c=BJ-6ePjmK-tCTM3xC8tPFUaQJxt4pUtDkuD567JdfQg="
                    width="180" height="180" alt="img" />
            </div>
            <div class="card-product-info">
                <h3 class="cart-product-title">Apricot</h3>
                <div class="card-product-info-right">
                    <p class="cart-product-price">0,79</p>

                    <button type="button" class="cart-product-btn">
                        <svg>
                            <use href="тут посилання на іконку зі спрайту"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div> -->

    </div>

</section>