<section class="filters-section">
  <div class="filters-container">
    <form class="filter-form" id="filter-form">
      <div class="filter-input-container">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search for anything"
        />
        <svg class="filter-icon-search" width="20" height="20">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </div>

      <div class="filter-select-container">
        <select class="filter-select" name="categories">
          <option value="select" disabled selected hidden>Categories</option>
        </select>

        <svg class="filter-icon-select" width="20" height="20">
          <use href="./images/icons.svg#icon-down"></use>
        </svg>
      </div>

      <div class="filter-sort-container">
        <select class="filter-sort" name="sort">
          <option value="sort"></option>
        </select>

        <svg class="filter-icon-sort" width="20" height="20">
          <use href="./images/icons.svg#icon-down"></use>
        </svg>
      </div>
    </form>
  </div>
</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
