<section class="filters-section container">
  <h2 class="visually-hidden">Filters</h2>
  <div class="filter-container">
    <h3 class="filter-title">Filters:</h3>
    <div class="filter">
      <form class="filter-form" id="filter-form">
        <div class="filter-input-container">
          <input type="text" name="searchQuery" autocomplete="off" placeholder="Search for anything" />
          <button type="submit" class="search-btn">
            <svg class="filter-icon-search" width="20" height="20">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </form>
      <div class="filter-select-container">
        <select class="filter-select" name="categories">
          <option value="select" label="Categories" disabled selected hidden>Categories</option>
        </select>

        <svg class="filter-icon-select" width="20" height="20">
          <use href="./images/icons.svg#icon-down"></use>
        </svg>
      </div>

      <div class="filter-sort-container">
        <select class="filter-sort" name="sort">
          <option value="sort" label="A to Z"></option>
        </select>

        <svg class="filter-icon-sort" width="20" height="20">
          <use href="./images/icons.svg#icon-down"></use>
        </svg>
      </div>
    </div>
  </div>
</section>