<header class="container">
  <div class="header-container">
    <div class="box-hover">
      <a class="header-logo link" href="">
        <div class="header__shop-icon-container">
          <svg class="cart-shop-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-tdesign_cabbage-1"></use>
          </svg>
        </div>
        Food Boutique
      </a>
    </div>
    <nav>
      <ul class="header-navigation">
        <li><a class="header-home link" href="./index.html">Home</a></li>
        <li>
          <a id="cartLink" class="header-cart link" href="./cart.html">
            <div class="header__icon-container">
              <svg class="cart-icon" width="16" height="16">
                <use
                  href="./images/icons.svg#icon-heroicons-solid_shopping-cart"
                ></use>
              </svg>
            </div>
            <span id="countProducts">Cart(0)</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
