<header class="header">
  <div class="container header-container">
    <a class="header-logo link" href=""
      ><img
        class="header-logo__img"
        width="32"
        height="32"
        src="/src/images/food-boot.svg"
        alt="site logo"
      />Food Boutique</a
    >
    <nav class="header-navigation">
      <a class="header-home link" href="./index.html">Home</a>

      <a id="cartLink" class="header-cart link" href="./product.html">
        <img src="/src/images/bas.svg" alt="bag" />
        <span id="countProducts">Cart(0)</span>
      </a>
    </nav>
  </div>
</header>
