<section class="hero">
  <div class="container hero-container">
    <div class="hero-title">
      <h1 class="hero-title__text">
        Welcome to the <span>Food</span> Boutique!
      </h1>
      <p class="hero-subtitle">
        With Food Boutique, you're not just subscribing to food, you're signing
        up for a fresher, fitter, and happier you.
      </p>
    </div>
    <div class="hero-background">
      <svg>
        <use href="./images/icons.svg#icon-organic-food"></use>
      </svg>
    </div>
  </div>
</section>
