<!-- modal-product.html -->

<div id="modalProduct" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalProductBtn">&times;</span>
        <div class="product-details">
            <img id="modalProductImage" src="" alt="Product Image">
            <h2 id="modalProductName"></h2>
            <p id="modalProductCategory"></p>
            <p id="modalProductSize"></p>
            <p id="modalProductPopularity"></p>
            <p id="modalProductDescription"></p>
            <p id="modalProductPrice"></p>
            <button id="addToCartBtn">Add to Cart</button>
        </div>
    </div>
</div>