<div class="modal-overlay">
  <div id="modalProduct" class="modal">
    <span class="close" id="closeModalProductBtn">&times;</span>
    <div class="product-info">
      <div class="pro">
        <div class="product-image">
          <img id="modalProductImage" src="" alt="Product Image" />
        </div>
        <div class="product-details">
          <h2 id="modalProductName"></h2>
          <div class="product-bloc">
            <p id="modalProductCategory"></p>
            <p id="modalProductSize"></p>
            <p id="modalProductPopularity"></p>
          </div>
          <p id="modalProductDescription"></p>
        </div>
      </div>
      <div class="product-add">
        <p id="modalProductPrice"></p>
        <button id="addToCartBtn" class="buy-btn" type="button">
          Add to
          <svg class="buy-svg" id="addToCartIcon" width="18" height="18">
            <use href="./images/icons.svg#shopping-cart"></use>
          </svg>
        </button>
        <button id="removeFrom" class="buy-btn visually-hidden" type="button">
          Remove
          <svg class="buy-svg" id="removeFromIcon" width="18" height="18">
            <use href="./images/icons.svg#shopping-cart"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

