<section>
  <h2 class="visually-hidden">Products</h2>
  <div class="list-prod-container">
    <ul class="list-prod"></ul>
  </div>
  <div class="filter-nomatches-container visually-hidden">
    <div class="nomatches-text-container">
      <p class="nomatches-text-bold">
        Nothing was found for the selected
        <span class="for-color">filters...</span>
      </p>
      <p class="nomatches-text">
        Try adjusting your search parameters or browse our range by other
        criteria to find the perfect product for you.
      </p>
    </div>
  </div>
</section>
