<section class="container">
  <h2 class="visually-hidden">Shopping Cart</h2>
  <!-- <h1><a href="../cart.html">HERO</a></h1> -->
  <div class="title-container">
    <div class="basket-border">
      <svg class="basket-icon" width="18" height="18">
        <use
          class="js-basket-icon"
          href="./images/icons.svg#shopping-cart"
        ></use>
      </svg>
    </div>
    <h2 class="title-cart">Cart (<span class="js-item-count">0</span>)</h2>
  </div>
  <div class="empty-basket-container js-empty-basket hide">
    <img
      class="empty-basket-img"
      src="./images/empty_yellow_shopping_basket.png"
      alt="Empty yellow shopping basket"
    />
    <div class="basket-text-container">
      <p class="basket-text-bold">
        Your basket is <span class="color">empty...</span>
      </p>
      <p class="basket-text">
        Go to the main page to select your favorite products and add them to the
        cart.
      </p>
    </div>
  </div>
  <div class="basket-container js-filled-basket">
    <div class="basket-item-container js-item-button">
      <button class="basket-clear-container basket-clear-text" type="button">
        Delete all
        <svg class="delete-icon" width="24" height="24">
          <use href="./images/icons.svg#delete-icon"></use>
        </svg>
      </button>
      <ul class="items-block-container js-items-container"></ul>
    </div>
    <div class="basket-total-container">
      <h3 class="total-title">Your Order</h3>
      <ul class="total-count-container">
        <li class="total-main-text">Total</li>
        <li>
          <span class="total-small-text">Sum:</span>
          <span class="total-count-text">$0</span>
        </li>
      </ul>
      <form class="checkout-form js-checkout-form">
        <label class="email-label" for="email">
          Mail
          <input
            class="email-input"
            type="email"
            id="email"
            placeholder="Enter your email"
          />
        </label>
        <button class="checkout-button" data-js-modal-open type="submit">Checkout</button>
      </form>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal>
    <div class="modal-window">
      <button class="modal-close-button" type="button" data-modal-close>
        <svg class="close-icon" width="28" height="28">
          <use href="./images/icons.svg#delete-icon"></use>
        </svg>
      </button>
      <div id="js-modal-info" class="modal-info"></div>
    </div>
  </div>
</section>
