:root {
  --background: #E8E8E2;
  --text-color: #010101;
  --white: #FAFAFA;
  --gray: #6D8434;
  --dark-gray: #586F1F;
  --transparent-text: rgba(1, 1, 1, 0.3);
  --transparent-text-special: rgba(1, 1, 1, 0.5);
  --transparent-footer-text:  rgba(232, 232, 226, 0.7);
  --transparent-border: rgba(232, 232, 226, 0.3);
  --transparent-fon: rgba(1, 1, 1, 0.4);
  --social-hover: #E8E8E280;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  color: var(--text-color);
  background-color: var(--background);
  font-family: 'Neue Montreal', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 375px;
  min-width: 320px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quincy CF';
  src: url('../fonts/QuincyCF-Black.woff2') format('woff2'),
      url('../fonts/QuincyCF-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}