.products {
}
.card-product-discount {
  padding: 16px;
  border-radius: 15px;
  background: var(--white);
  width: 335px;
  margin-bottom: 20px;
}
.card-product-wrapper {
  border-radius: 10px;
  background: var(--background);
  padding: 18px;
  display: flex;
  justify-content: center;
}
.card-product-img {
}
.card-product-info {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 16px;
}
.card-product-title,
.card-product-price {
  color: var(--text-color);
  font-family: Neue Montreal;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.card-product-info-right {
  display: flex;
  gap: 7px;
}

.card-product-btn {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
