.products {
  display: flex;
  flex-direction: column;
}

.products h2 {
  font-size: 24px;
  line-height: 1.166;
  font-weight: 500;
}

.card-product-discount {
  margin-top: 20px;
  padding: 16px;
  border-radius: 15px;
  background: var(--white);
  max-width: 335px;
  height: 232px;
  position: relative;
}
.card-product-label {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 6px;
  right: 10px;
  /* box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.03) inset; */
}
.card-product-label svg {
  width: 100%;
  height: 100%;

  animation-name: rotation;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

.card-product-wrapper {
  border-radius: 10px;
  background: var(--background);
  padding: 18px;
  display: flex;
  justify-content: center;
  max-width: 304px;
  height: 150px;
}

.card-product-info {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 21px;
  align-items: center;
}
.card-product-title,
.card-product-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.card-product-info-right {
  display: flex;
  gap: 7px;
  align-items: center;
}

.card-product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 30px;
  background-color: var(--gray);
  border: none;
  transition: fill var(--animation-duration) var(--timing-function);
}

.card-product-btn:hover,
.card-product-btn:focus {
  background: var(--dark-gray);
}

.is-hidden {
  display: none;
}
.card-product-svg {
  fill: var(--background);
}

.card-product-add {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .products-discount {
    display: flex;
    justify-content: space-between;
  }

  .card-product-discount {
    width: 335px;
    height: 232px;
  }

  .products h2 {
    font-size: 28px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1440px) {
  .products-discount {
    display: flex;
    flex-direction: column;
  }

  .card-product-discount {
    width: 275px;
  }
}
