.filters-section {
  margin-top: 74px;
}
.hidden {
  display: none;
}
.filter-title {
  color: rgba(1, 1, 1, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.filter {
  margin-bottom: 40px;
}

.filter-input-container {
  display: flex;
  position: relative;
  margin-top: 8px;
}

.filter-form input {
  flex: 1;
  background-color: transparent;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 12px;
  outline: transparent;
  transition: border-color var(--animation-duration) var(--timing-function);
}
.filter-form input::placeholder {
  color: var(--text-color);
  font-size: 14px;
}
.filter-form input:hover,
.filter-form input:focus {
  border-color: var(--gray);
}

.search-btn {
  height: 40px;
  background-color: var(--light-green) transparent;
  border: none;
  padding: 14px 20px;
  position: absolute;
  top: 10%;
  right: 0;
}
.filter-icon-search {
  position: absolute;
  top: 25%;
  right: 20px;
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}
.filter-select-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.select {
  display: flex;
  background-color: transparent;
  max-width: 335px;
  width: 100%;
  padding: 14px 20px;
  justify-content: left;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  cursor: pointer;
  outline: none;
  appearance: none;
  margin-bottom: 12px;
  transition: border-color var(--animation-duration) var(--timing-function);
}
.select:hover,
.select:focus {
  border-color: var(--gray);
}

.filter-select-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 56px;
  width: 100%;
  padding: 14px 0 14px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 15px;
  background: #fff;

  box-shadow: 0px 4px 11.212px 0px rgba(0, 0, 0, 0.04),
    0px 20px 69px 0px rgba(0, 0, 0, 0.07);
}
.filter-select-list-visible {
  display: flex;
}
.filter-select-item {
  display: flex;

  cursor: pointer;
  color: rgba(1, 1, 1, 0.5);

  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}
.filter-select-item:hover,
.filter-select-item:focus {
  color: #010101;
}
.filter-icon-select {
  position: absolute;
  top: 25%;
  right: 20px;
  fill: var(--text-color);
  z-index: 3;
}
.input-hidden {
  display: none;
}

.filter-sort-container {
  display: flex;
  position: relative;
}
.filter-sort {
  max-width: 335px;
  width: 100%;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  cursor: pointer;
  outline: transparent;
  appearance: none;
  background-color: var(--white);
  transition: border-color var(--animation-duration) var(--timing-function);
}
.filter-sort:hover,
.filter-sort:focus {
  border: 1px solid var(--gray);
}
.filter-icon-sort {
  position: absolute;
  top: 30%;
  right: 20px;
  fill: var(--text-color);
}

@media screen and (min-width: 768px) {
  .filters-section {
    margin-top: 100px;
  }

  .filter {
    display: flex;
    gap: 8px;
  }

  .filter-form {
    width: 269px;
  }

  .filter-form input::placeholder {
    font-size: 18px;
  }

  .filter-form input {
    font-size: 18px;
    line-height: 1.28;
  }

  .filter-input-container {
    display: flex;
    margin-top: 8px;
    position: relative;
  }
  .filter-select-container {
    display: flex;
    position: relative;
    margin-top: 8px;
    width: 189px;
  }
  .select {
    font-size: 18px;
    line-height: 1.28;
  }
  .filter-select-list {
    top: 60px;
    width: 189px;
  }
  .filter-select-item {
    /* width: 120px; */
    font-size: 18px;
    line-height: 1.33;
  }
  .filter-sort-container {
    display: flex;
    position: relative;
    margin-top: 8px;
  }

  .filter-sort {
    width: 200px;
    font-size: 18px;
    height: 52px;
  }

  .filter-icon-sort {
    top: 25%;
  }
}

@media screen and (min-width: 1440px) {
  .filters-section {
    margin-bottom: 60px;
  }
}
