.footer {
  background-color: var(--gray);
  min-height: 386px;
  margin-top: 60px;
  padding-bottom: 20px;
}
.conteiner-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
  padding-top: 40px;
}
.footer-media {
  width: 200px;
}
.form-p {
  color: var(--background);
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer-input {
  display: flex;
  padding: 12px 18px 12px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--background);
  width: 336px;
  outline: transparent;
}

.footer-button {
  display: flex;
  width: 336px;
  padding: 12px 149px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 30px;
  outline: transparent;
}
.footer-socials-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 20px;
  height: 28px;
}

.footer-socials-text {
  color: var(--background);
  width: 157px;
  margin-left: 8px;
  font-family: FONTSPRING DEMO - Quincy CF;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: -0.5px;
}
.footer-social-list {
  display: flex;
}
.footer-socials-item {
  width: 44px;
  height: 44px;
}
.footer-div-text {
  width: 410px;
}
.footer-p-h {
  color: var(--background);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}
.footer-p-text {
  color: var(--transparent-footer-text);
  font-size: 18px;
  line-height: 24px;
}

.footer-form {
  width: 310px;
}
.footer-p {
  color: var(--background);
  line-height: 18px;
  opacity: 0.9;
}
.footer-div {
  display: flex;
  justify-content: space-between;
}
.food-boutique,
.footer-socials-icon {
  fill: var(--white);
}
.footer-social-list {
  gap: 12px;
}
.footer-socials-item {
  border-radius: 10px;
  border: 1px solid var(--transparent-border);
  width: 44px;
  height: 44px;
  padding: 8px;
}
.is-hidden {
  display: none;
}
.mob-menu {
  position: fixed;
  
  top: 0;
  z-index: 20;
  width: 100vw;
  height: 120vh;
  background-color: var(--transparent-fon);
  overflow: auto;
  transition: transform 500ms ease-in-out;
}

.mob-container,
.mob-container-two {
  border-radius: 20px;
  background: var(--background);
  max-width: 490px;
  margin: 0 20px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-button-close {
  display: block;
  border: none;
  margin-left: 428px;
  margin-right: 24px;
  margin-top: 22px;
  background-color: transparent;
}

.header-close-icon {
  width: 28px;
  height: 28px;
}
.modal-h-p {
  width: 245px;
  color: #010101;
  text-align: center;
  font-family: Neue Montreal;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 38px;
}
.modal-p-p {
  width: 328px;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}
.modal-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.span-modal {
  color: #6d8434;
  font-family: Neue Montreal;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .conteiner-div {
    display: block;
    margin-bottom: 80px;
  }
  .footer-div-text,
  .footer-media {
    margin-bottom: 40px;
  }
  .footer-div {
    display: block;
    gap: 8px;
  }
  .ppts {
    margin-top: 8px;
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
  .footer-form-text {
    display: flex;
    width: 840px;
    justify-content: space-between;
  }
}
