.footer {
  background-color: var(--gray);
  min-height: 386px;
  padding-bottom: 20px;
  padding-top: 44px;
}

.conteiner-div {
  display: flex;
  margin-bottom: 80px;
  flex-direction: column;
}
.footer-media {
  width: 200px;
}
.form-p {
  color: var(--background);
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 20px;
  text-shadow: var(--text-shadow);
}
.footer-input {
  background-color: var(--gray);
  display: flex;
  padding: 12px 18px 12px 18px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--background);
  width: 100%;
  outline: transparent;
  margin-bottom: 14px;
  color: var(--background);
}

.footer-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-size: 16px;
  line-height: 1.5;
}

.footer-button {
  display: flex;
  width: 100%;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 30px;
  outline: transparent;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--background);
  transition: color var(--animation-duration) var(--timing-function);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

.footer-button:hover,
.footer-button:focus {
  color: var(--gray);
}

.footer-socials-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin-bottom: 20px;
  height: 28px;
}

.footer-socials-text {
  color: var(--white);
  width: 157px;
  margin-left: 8px;
  font-family: 'Quincy CF';
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
  transition: text-shadow var(--animation-duration) var(--timing-function);
}

.footer-social-list {
  display: flex;
}


.footer-socials-item:hover,
.footer-socials-item:focus {
  background-color: var(--social-hover);
}

.footer-div-text {
  max-width: 335px;
  margin-bottom: 80px;
}
.footer-p-h {
  color: var(--background);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
  max-width: 335px;
  text-shadow: var(--text-shadow);
}
.footer-p-text {
  color: var(--transparent-footer-text);
  font-size: 14px;
  line-height: 1.29;
  max-width: 335px;
  text-shadow: var(--text-shadow);
}

.footer-form {
  width: 310px;
}
.footer-p {
  color: var(--background);
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 8px;
}

.food-boutique {
  fill: var(--gray);
}

.footer-socials-icon {
  fill: var(--white);
}

.food-boutique-container {
  background-color: var(--white);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow var(--animation-duration) var(--timing-function),
    text-shadow var(--animation-duration) var(--timing-function);
}

.footer-socials-text:hover .footer-socials-text:focus {
  text-shadow: var(--text-shadow);
}

.footer-socials-link:hover .footer-socials-text {
  text-shadow: var(--text-shadow);
}
.footer-socials-link:hover > .food-boutique-container {
  box-shadow: var(--text-shadow);
}

.food-boutique-container:hover,
.food-boutique-container:focus {
  box-shadow: var(--text-shadow);
}

.footer-social-list {
  gap: 12px;
  margin-bottom: 40px;
}
.footer-socials-item {
  border-radius: 10px;
  border: 1px solid var(--transparent-border);
  width: 44px;
  height: 44px;
  padding: 8px;
  transition: background-color var(--animation-duration) var(--timing-function);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.is-hidden {
  display: none;
}
.mob-menu {
  position: fixed;

  top: 0;
  z-index: 20;
  width: 100vw;
  height: 120vh;
  background-color: var(--transparent-fon);
  overflow: auto;
  transition: transform 500ms ease-in-out;
}

.mob-container,
.mob-container-two {
  border-radius: 20px;
  background: var(--background);
  max-width: 490px;
  margin: 0 20px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-button-close {
  display: block;
  border: none;
  margin-left: 428px;
  margin-right: 24px;
  margin-top: 22px;
  background-color: transparent;
}

.header-close-icon {
  width: 28px;
  height: 28px;
}
.modal-h-p {
  width: 245px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 38px;
}
.modal-p-p {
  width: 328px;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}
.modal-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.span-modal {
  color: var(--gray);
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .footer-p {
    margin-bottom: 0;
  }

  .footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-button {
    padding: 12px 149px;
    width: 336px;
  }

  .footer-socials-text {
    font-size: 24px;
    line-height: 1;
  }
  .conteiner-div {
    display: flex;
    margin-bottom: 120px;
    gap: 78px;
    flex-direction: row;
  }
  .footer-div-text,
  .footer-media {
    margin-bottom: 64px;
    max-width: 429px;
  }

  .footer-p-h {
    font-size: 40px;
    max-width: 429px;
    margin-bottom: 20px;
    line-height: 1.11;
  }
  .footer-p-text {
    font-size: 18px;
    line-height: 1.33;
    max-width: 429px;
  }

  .form-p {
    color: var(--background);
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-input {
    width: 336px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-p-text {
    font-size: 18px;
    line-height: 1.33;
    max-width: 410px;
  }

  .footer-p-h {
    max-width: 410px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .conteiner-div {
    margin-bottom: 128px;
    gap: 149px;
  }
  .footer-form-text {
    display: flex;
    width: 912px;
    justify-content: space-between;
  }
}
