.header-container {
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  height: 53px;
  cursor: pointer;
  font-family: 'Quincy CF';
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.36px;
  border: none;
  transition: background-color var(--animation-duration) var(--timing-function),
    color var(--animation-duration) var(--timing-function);
  border-radius: 9px;
}
.hero-background {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
.header__shop-icon-container {
  background-color: var(--gray);
  border-radius: 30px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color var(--animation-duration) var(--timing-function);
}
.cart-shop-icon {
  fill: var(--background);
  transition: fill var(--animation-duration) var(--timing-function);
}
.header-logo:hover,
.header-logo:focus {
  background-color: var(--gray);
  color: var(--background);
}

.box-hover:hover .cart-shop-icon {
  fill: var(--dark-gray);
}

.box-hover:hover .header__shop-icon-container {
  background-color: var(--background);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-home {
  color: var(--background);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  border-radius: 30px;
  background: var(--gray);
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  transition: background-color var(--animation-duration) var(--timing-function);
  text-shadow: var(--text-shadow);
  box-shadow: var(--text-shadow);
}

.header-home:hover,
.header-home:focus {
  background-color: var(--dark-gray);
}

.header-cart {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-icon {
  fill: var(--background);
}

.header__icon-container {
  background-color: var(--gray);
  border-radius: 30px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation-duration) var(--timing-function);
  box-shadow: var(--text-shadow);
}

.header__icon-container:hover,
.header__icon-container:focus {
  background-color: var(--dark-gray);
}

.header-cart span {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 220px;
    height: 60px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.48px;
  }
  .header__shop-icon-container {
    width: 32px;
    height: 32px;
  }
  .header-container {
    padding-top: 24px;
  }
  .header-cart span {
    display: block;
  }

  .header-logo__img {
    margin-right: 8px;
  }

  .header-home {
    font-size: 18px;
    line-height: 1.33;
    margin-right: 16px;
  }

  .header__icon-container {
    margin-right: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .header-home {
    margin-right: 24px;
  }
}
