.container {
  /* max-width: 375px; */
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Quincy CF';
  src: url('../fonts/FONTSPRINGDEMO-QuincyCFBlackRegular.woff2') format('woff2'),
    url('../fonts/FONTSPRINGDEMO-QuincyCFBlackRegular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.container {
  /* max-width: 375px; */
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
/* dddddddddddddddddddddddddddddd */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);

  font-family: FONTSPRINGDEMO-QuincyCFBlackRegular;
  font-size: 18px;

  font-weight: 900;
  line-height: 1.11; /* 111.111% */
  letter-spacing: -0.36px;
}
.header-logo__img {
  margin-right: 8px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-home {
  color: var(--background);
  font-family: Neue Montreal;
  font-size: 14px;

  font-weight: 500;
  line-height: 1.28;
  border-radius: 30px;
  background: var(--gray);
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 6px;
}

.header-cart {
  color: var(--text-color);
  font-family: Neue Montreal;
  font-size: 18px;

  font-weight: 500;
  line-height: 1.33; /* 133.333% */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-cart span {
  display: none;
}

.hero-title {
  margin-top: 72px;
  margin-bottom: 32px;
}

.hero-title__text {
  color: var(--text-color);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.09; /* 109.091% */
  letter-spacing: -0.88px;
  margin-bottom: 16px;
}

.hero-title__text span {
  color: var(--gray);
  font-family: Neue Montreal;
  font-size: 44px;

  font-weight: 500;
  line-height: 1.09;
  letter-spacing: -0.88px;
}
.you {
  display: none;
}
.hero-subtitle {
  color: rgba(1, 1, 1, 0.8);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;

  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}

.hero-background {
  /* max-height: 600px; */
  height: 480px;
  background: url('./src/images/hero-bg-mob-1x.jpg') 0 0 / cover no-repeat;
  position: relative;
  border-radius: 30px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-background {
    background: url('./src/images/hero-bg-mob-2x.jpg') 0 0 / cover no-repeat;
  }
}

.hero-background img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 8px;
  top: -7px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .header-cart span {
    display: block;
  }

  .header-logo {
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.48px;
  }

  .header-logo__img {
    margin-right: 8px;
  }

  .header-home {
    font-size: 18px;
    line-height: 1.33;
    margin-right: 16px;
  }

  .header-cart {
    color: var(--text-color);
    font-family: Neue Montreal;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin-left: 14px; */
  }
  .header-cart img {
    margin-right: 14px;
  }

  .hero-title {
    margin-top: 116px;
    margin-bottom: 40px;
  }

  .hero-title__text {
    color: var(--text-color);
    text-align: center;
    font-family: Neue Montreal;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.6px;
    margin-bottom: 20px;
  }

  .hero-title__text span {
    color: var(--gray);
    font-family: Neue Montreal;
    font-size: 80px;

    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.6px;
  }

  .hero-subtitle {
    color: rgba(1, 1, 1, 0.8);
    text-align: center;
    font-family: Neue Montreal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  .hero-background {
    /* max-height: 600px; */
    height: 580px;
    background: url('./src/images/hero-bg-tab-1x.jpg') 0 0 / cover no-repeat;
    position: relative;
    border-radius: 30px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background: url('./src/images/hero-bg-tab-2x.jpg') 0 0 / cover no-repeat;
    }
  }

  .hero-background img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 8px;
    top: -30px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

  .header-logo {
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.48px;
  }

  .header-logo__img {
    margin-right: 8px;
  }

  .header-home {
    font-size: 18px;
    line-height: 1.33;
    margin-right: 24px;
  }

  .header-cart {
    color: var(--text-color);
    font-family: Neue Montreal;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin-left: 14px; */
  }
  .header-cart img {
    margin-right: 14px;
  }

  .hero-title {
    margin-top: 77px;
    margin-bottom: 40px;
  }
  .hero-title__text br {
    display: none;
  }
  .hero-title__text {
    color: var(--text-color);
    text-align: center;
    font-family: Neue Montreal;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.6px;
    margin-bottom: 20px;
  }
  .and,
  .to {
    display: none;
  }
  .you {
    display: block;
  }

  .hero-title__text span {
    color: var(--gray);
    font-family: Neue Montreal;
    font-size: 80px;

    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.6px;
  }

  .hero-subtitle {
    color: rgba(1, 1, 1, 0.8);
    text-align: center;
    font-family: Neue Montreal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  .hero-background {
    /* max-height: 600px; */
    height: 300px;
    background: url('./src/images/hero-bg-1x.jpg') 0 0 / cover no-repeat;
    position: relative;
    border-radius: 30px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background: url('./src/images/hero-bg-2x.jpg') 0 0 / cover no-repeat;
    }
  }

  .hero-background img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 20px;
    top: -50px;
  }
}
