.main-sidebar {
  display: flex;
  flex-direction: column;
}

.main-container {
  max-width: 375px;
  min-width: 320px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .main-sidebar {
    margin-top: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .main-sidebar {
    margin-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .main-container {
    display: flex;
    max-width: 1440px;
    padding: 0 100px;
    margin-bottom: 61px;
  }
  .main-sidebar {
    margin-bottom: 140px;
  }
}
