/* modal-product.css */

.buy-svg.added-to-cart {
  color: #ff4500; /* Опціонально: задаємо колір для позначення доданого товару */
}

#removeFrom.cart-has-items .buy-svg {
  color: #ff4500; /* Опціонально: задаємо колір для позначення наявності товарів у корзині */
}

#modalProduct {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 70%;
  max-width: 630px;
  height: 380px;
  background: #fafafa;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: rgba(0, 0, 0, 0.5); */
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 30px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.pro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.product-info {
  display: block;
  margin-bottom: 0%;
  height: 328px;
}

.product-image {
  display: flex;
  margin-right: 20px;
  width: 240px;
  height: 212px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e8e8e2;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.product-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.product-details {
  flex-grow: 1;
  width: 256px;
}

#modalProductName {
  margin-bottom: 10px;
  color: #010101;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

#modalProductCategory,
#modalProductSize,
#modalProductPopularity,
#modalProductDescription,
#modalProductPrice {
  /* color: #010101; */
}
#modalProductPrice {
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  width: 70px;
  height: 30px;
}
#modalProductDescription {
  margin-top: 24px;
  color: rgba(1, 1, 1, 0.7);
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  width: 256px;
  max-height: 118px;
  overflow-y: auto;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 99; 
  display: none; 
}

.product-bloc {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em; 

  width: 246px;
  height: 37px;
  margin-bottom: 10px;
}
.feature-value {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em;
  margin-left: 4px;
}
.product-add {
  margin-bottom: -70px;
  display: inline-flex;
  align-items: flex-end;
  gap: 350px;
  width: 550px;
  height: 40px;
}

.buy-btn {
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #6d8434;
  color: #e8e8e2;
  margin-left: 0;
  cursor: pointer;
  appearance: auto;
  border: none;
}
.buy-svg {
  color: #e8e8e2;
}
