#modalProduct {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: calc(100% - 40px);
  height: 535px;
  background: var(--white);
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.close {
  position: absolute;
  top: 7px;
  font-size: 30px;
  cursor: pointer;
  width: 22px;
  line-height: 1;
  height: 22px;
  right: 14px;
}
.pro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product-info {
  display: block;
  margin-bottom: 0%;
  height: 328px;
}

.product-image {
  display: flex;
  width: 100%;
  height: 212px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e8e8e2;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.product-image img {
  max-width: 160px;
  max-height: 160px;
}

.product-details {
  flex-grow: 1;
  max-width: 295px;
}

#modalProductName {
  margin-bottom: 10px;
  font-family: Neue Montreal;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

#modalProductPrice {
  font-family: Neue Montreal;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
#modalProductDescription {
  color: rgba(1, 1, 1, 0.7);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  height: 54px;
  overflow-y: auto;
  margin-bottom: 40px;
}

#modalProductDescription::-webkit-scrollbar {
  width: 4px;
}

#modalProductDescription::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 4px;
}

#modalProductDescription::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.4);
  z-index: 999;
}

.product-bloc {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  row-gap: 9px;
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  width: 246px;
  height: 37px;
  margin-bottom: 20px;
  column-gap: 8px;
}
.feature-value {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em;
  margin-left: 4px;
}
.product-add {
  display: flex;
  align-items: flex-end;
  height: 40px;
  justify-content: space-between;
}

.product-add .buy-btn {
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #6d8434;
  color: #e8e8e2;
  margin-left: 0;
  cursor: pointer;
  appearance: auto;
  border: none;
  gap: 10px;
}
.buy-svg {
  color: #e8e8e2;
}

@media screen and (min-width: 768px) {
  #modalProduct {
    z-index: 9999;

    max-width: 600px;
    height: 380px;
    padding: 40px;
  }

  .close {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }

  .pro {
    flex-direction: row;
    margin-bottom: 48px;
    justify-content: start;
  }

  .product-image {
    margin-bottom: 0px;
    margin-right: 24px;
    width: 240px;
    height: 212px;
  }

  #modalProductName {
    font-size: 20px;
    line-height: 1.2;
  }

  #modalProductPrice {
    font-size: 20px;
    line-height: 1.2;
    width: 70px;
  }
  #modalProductDescription {
    margin-bottom: 0px;

    margin-top: 24px;
    font-size: 16px;
    max-height: 118px;
  }

  .product-bloc {
    margin-bottom: 10px;
  }

  .product-add {
    width: 520px;
  }

  .product-add .buy-btn {
    padding: 10px 28px;
  }
}
