.popular-container {
  margin-bottom: 80px;
}

.popular-product-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.popular-item {
  width: 100%;
}

.popular-card-title {
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 12px;
}
.section-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.166;
  margin-bottom: 20px;
}

.popular-item {
  width: 100%;
  position: relative;
}
.popular-item:last-child {
  margin-bottom: 0;
}
.popular-card {
  cursor: pointer;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  background: var(--white);
  padding: 12px;
}
.popular-box-img {
  width: 74px;
  height: 74px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--background);
}

.button-add-product {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  border-radius: 30px;
  background: var(--background);
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  transition: fill var(--animation-duration) var(--timing-function);
}
.svg-add-product {
  transition: fill var(--animation-duration) var(--timing-function);
  fill: var(--gray);
}

.button-add-product:hover > .svg-add-product,
.button-add-product:focus > .svg-add-product {
  fill: var(--background);
}

.button-add-product:hover,
.button-add-product:focus {
  background-color: var(--gray);
}

.button-remove-product {
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--gray);
  border: none;
}
.svg-remove-product {
  fill: var(--background);
}

.card-descr {
  display: flex;
  gap: 9px;
}
.popular-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}
.popular-text {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.116;
}
.popular-card-text {
  color: var(--transparent-text-special);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.category {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 28px;
    line-height: 1.14;
  }
  .popular-container {
    width: 563px;
  }

  .popular-product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    flex-direction: row;
  }
  .popular-item {
    width: calc((100% - 13px) / 2);
    margin-bottom: 0;
  }
}

.popular-card-title {
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 12px;
}

@media screen and (min-width: 1440px) {
  .popular-product-list {
    flex-direction: column;
  }

  .popular-container {
    width: 275px;
    margin-bottom: 40px;
  }

  .popular-item {
    width: 100%;
  }
}
