.list-prod {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.prod-item {
  padding: 20px 20px;
  background: var(--white);
  border-radius: 20px;
  height: 363px;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.prod-pic {
  border-radius: 10px;
  background-color: var(--background);
  min-height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer; /*Думаю надо дoбавить эту строчку, Проверьте*/
}

.prod-img {
  max-width: 140px;
  max-height: 140px;
}

.discont-prod {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 92%;
  top: 15px;
  transform: translate(-50%, -50%);
  background-color: var(--gray);
  width: 60px;
  height: 60px;
}

.title-prod {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-top: 20px;
  margin-bottom: 10px;
}

.feature {
  display: flex;
  width: 220px;
  flex-wrap: wrap;
  gap: 8px;
}

.feature-prod {
  color: var(--transparent-text-special);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.feature-value {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.17;
  margin-left: 4px;
}

.buing-prod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 34px;
  margin-top: auto;
}

.price-prod {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  align-self: self-end;
}

.buy-btn {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--gray);
  color: var(--background);
  margin-left: 0;
  cursor: pointer;
  appearance: auto;
  border: none;
  transition: background var(--animation-duration) var(--timing-function);
}

.buy-svg {
  fill: var(--background);
  justify-content: center;
  align-items: center;
}

.buy-btn:hover,
.buy-btn:focus {
  background: var(--dark-gray);
}

@media screen and (min-width: 768px) {
  .list-prod {
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
  }

  .prod-item {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .main-container {
    display: flex;
    max-width: 1440px;
    padding: 0 100px;
  }

  .prod-item {
    width: 295px;
  }

  .list-prod {
    gap: 40px 20px;
    margin-right: 40px;
  }

  .list-prod-container {
    width: 965px;
  }

  .filter-nomatches-container {
    width: 965px;
  }
}
/*  */
.filter-nomatches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nomatches-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 14px;
  align-items: center;
}

.nomatches-text-bold {
  color: #010101;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.for-color {
  color: var(--gray);
}

.nomatches-text {
  max-width: 387px;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
}
