.list-prod-container {
  /* width: 925px; */
}

.list-prod {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px 20px;
  padding-right: 20px;
}

.prod-item {
  padding: 20px 20px;
  background-color: var(--white);
  border-radius: 20px;
  width: 295px;
  height: 363px;
  width: calc((100% - 40px) / 3);
}

.prod-pic {
  border-radius: 10px;
  background-color: var(--background);
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.prod-img {
  max-width: 140px;
  max-height: 140px;
}

.discont-prod {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 92%;
  top: 12%;
  transform: translate(-50%, -50%);
  background-color: var(--gray);
  width: 60px;
  height: 60px;
}

.title-prod {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-top: 20px;
  margin-bottom: 10px;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  gap: 8px;
}

.feature-prod {
  color: var(--transparent-text);
  font-size: 12px;
  line-height: 1.17;
}

.feature-value {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.17;
  margin-left: 4px;
}

.buing-prod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 34px;
}

.price-prod {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11em;
  align-self: self-end;
}

.buy-btn {
  border-radius: 30px;
  background: var(--gray);
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: auto;
  border: none;
}

.buy-svg {
  fill: var(--background);
  justify-content: center;
  align-items: center;
}

.buy-btn:hover,
.buy-btn:focus {
  background: var(--dark-gray);
}
