.scroll-to-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  position: fixed;
  bottom: 25px;
  right: 10px;
  background-color: var(--gray);
  color: var(--background);
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 9999;
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out,
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-to-top-btn:hover {
  background-color: var(--dark-gray);
}

.scroll-to-top-btn.show {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .scroll-to-top-btn {
    bottom: 25px;
    right: 7px;
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .scroll-to-top-btn {
    bottom: 50px;
    right: 35px;
    width: 60px;
    height: 60px;
  }

  .scroll-to-top-btn.show {
    opacity: 0.75;
  }
  .scroll-to-top-btn.show:hover {
    opacity: 1;
  }

  .scroll-to-top-btn:hover {
    background-color: var(--dark-gray);
  }
}
